* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
  /* Adjustments for smaller screens */
  .container-fluid {
    padding: 0 10px;
  }

  .col-lg-5,
  .col-lg-6,
  .col-md-2,
  .col-md-3,
  .col-sm-4 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .bannerimg {
    width: 100%;
  }

  .box2 {
    margin-top: 20px;
  }

  .coll {
    margin-bottom: 20px;
  }
}

/* CSS for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Adjustments for medium-sized screens */
  .container-fluid {
    padding: 0 20px;
  }

  .col-lg-5,
  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 img {
    max-width: 100%;
    height: auto;
  }

  .col-lg-6 {
    margin-top: 30px;
  }

  .about-head,
  .about-para {
    text-align: center;
  }

  .about-para {
    margin-bottom: 30px;
  }

  .contact-us-s {
    padding: 30px;
  }

  .leading-card-row {
    margin-bottom: 30px;
  }

  .leading-card-head,
  .leading-card-para {
    text-align: center;
  }

  .leading-para {
    margin-bottom: 30px;
  }

  .ser-head,
  .ser-para {
    text-align: center;
  }

  .services-column {
    flex-wrap: wrap;
  }

  .leading-head {
    text-align: center;
    margin-bottom: 20px;
  }

  .bannerimg {
    width: 100%;
  }

  .box2 {
    margin-top: 20px;
  }

  .flagT,
  .para2 {
    text-align: center;
  }
}

/* CSS for desktop devices */
@media (min-width: 1024px) {
  /* Adjustments for larger screens */
  .container-fluid {
    padding: 0 40px;
  }

  .col-lg-5,
  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 img {
    max-width: 100%;
    height: auto;
  }

  .col-lg-6 {
    margin-top: 30px;
  }

  .about-head,
  .about-para {
    text-align: center;
  }

  .about-para {
    margin-bottom: 30px;
  }

  .contact-us-s {
    padding: 30px;
  }

  .leading-card-row {
    margin-bottom: 30px;
  }

  .leading-card-head,
  .leading-card-para {
    text-align: center;
  }

  .leading-para {
    margin-bottom: 30px;
  }

  .ser-head,
  .ser-para {
    text-align: center;
  }

  .services-column {
    flex-wrap: wrap;
  }

  .leading-head {
    text-align: center;
    margin-bottom: 20px;
  }
}

/* CSS for mobile devices */
@media only screen and (max-width: 767px) {
  .container.py-5 {
    padding: 0 10px;
  }

  .col-lg-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  .row.services-column .col-md-2 {
    width: 100%;
    margin-bottom: 20px;
  }

  .row.services-column .col-md-2 p {
    margin-bottom: 0;
  }
}

.hero {
  background-image: url(../Assets/shopifyHead.png);
  width: 100vw;
  height: 70vh;
  background-size: cover;
}

.hero ul li a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.hero ul li {
  display: inline-block;
}
.main-heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(255, 255, 255, 1);
}
.ser-head {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;

  color: #4050af;
}
.ser-para {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  /* or 185% */

  letter-spacing: -0.01em;

  /* Text color 2 */

  color: #686868;
}

.card-heade {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* or 112% */

  letter-spacing: -0.01em;

  /* PURPLE */

  color: #3d4dae;
}
.ser-para {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 350;
  font-size: 13px;
  line-height: 18px;
  /* or 138% */

  color: #000000;
}
.ser-card {
  width: 206px;
  display: grid;
  left: 300px;
  top: 2860px;
  height: 350px;

  background: #fefefe;
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.25);
}
.services-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img {
  width: 70%;
  padding-bottom: 2rem;
  margin-left: 1rem;
  height: 70vh;
}
.ser-card {
  margin: 1rem;
}
.leading {
  width: 100%;
  height: fit-content;
  background: #07135f;
}
.leadin-card {
  background: #ffffff;
  border-radius: 5px;
  width: 250px;
  height: 280px;
  margin: 1rem;
}
.leading-card-head {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;

  text-align: center;

  color: #000000;
}
.leading-card-para {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  /* or 150% */

  text-align: center;

  color: #000000;
}
.leading-head {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 64px;

  text-align: center;

  color: #ffffff;
}
.leading-para {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 37px;
  /* or 185% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #ffffff;
}
.leading-card-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-btn {
  display: block !important;
  justify-content: center !important;
  align-items: center !important;
}
.support-head {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;

  display: flex;
  align-items: center;

  /* PURPLE */

  color: #3d4dae;
}
.contact-us-s {
  width: 100vw;

  background: #4050af;
}
.contavt-c-23 {
  background: #f8f9fc;
  height: 80vh;
  border-radius: 5px;
  padding: 1rem;
}
.c-head {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 68px;
  /* or 105% */

  letter-spacing: -0.01em;

  /* base/white */

  color: #ffffff;
}
.c-para {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  /* or 185% */

  letter-spacing: -0.01em;

  /* blue-gray/300 */

  color: #cbd5e1;
}
.about-head {
  font-size: 2rem;
}
.support-para {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;

  /* Text color 2 */

  color: #686868;
}
.package-head {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #3d4dae;
}
.pakeges-card {
  width: 800px;
  height: 497px;

  background: #ffffff;
  border-radius: 8px;
}
.offer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  text-align: center;

  /* Primary/01 */

  color: #485aff;
}
.pakages-price {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height, or 125% */

  text-align: center;
  letter-spacing: -2px;

  /* Blue/900 */

  color: #0f172a;
}
.pakage-description {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #606571;
}
.pakage-btn {
  outline: none;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 2rem;
  width: 100%;
  text-align: center;
  border: 1px solid #000000;
  align-items: center;
  background: none;

  /* Blue/900 */

  color: #0f172a;
  padding: 1rem;
}
.offer-ul li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  list-style: circle;

  display: flex;
  align-items: center;

  /* Blue/900 */

  color: #0f172a;
}
.bi-check-lg {
  font-size: 1rem;
  color: rgba(72, 90, 255, 1);
}
.btn-color {
  background: #485aff;
  /* Primary/01 */

  border: 1px solid #485aff;
  border-radius: 8px;
  color: #ffffff;
}
.pakeges-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
